.header__logo{
    width: 75px;
    height: 75px;
    animation-name: animacion-logo;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 0s;
}

@keyframes animacion-logo {
    0% {
        transform: translatex(0px);
    }
    50% {
        transform: translatex(26px)
    }
    100% {
        transform: translatex(0px)
    }
}