.header__logo{
    width: 75px;
    height: 75px;
    animation-name: animacion-logo;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 1s;
}

@keyframes animacion-logo {
    0% {
        width: 75px;
        height: 75px;
    }
    50% {
        width: 100px !important;
        height: 100px !important;
    }
    100% {
        width: 75px;
        height: 75px;
    }
}